<a href="https://colab.research.google.com/github/spectralcodex/shruglife/blob/main/ann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.4.1'

## Part 1 - Data Preprocessing

### Importing the dataset

In [21]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:,3:-1].values
y = dataset.iloc[:,-1].values

dataset

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

### Encoding Categorical data

#### Label Encoding the "Gender" column

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [5]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

#### One Hot Encoding the "Geography" column

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [23]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
print(X_test)

[[0.0 1.0 0.0 ... 1 1 192852.67]
 [1.0 0.0 0.0 ... 1 0 128702.1]
 [0.0 0.0 1.0 ... 1 1 75732.25]
 ...
 [0.0 0.0 1.0 ... 1 0 141533.19]
 [0.0 1.0 0.0 ... 1 1 11276.48]
 [0.0 1.0 0.0 ... 1 0 192950.6]]

### Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing ANN

In [11]:

ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [12]:
ann.add(tf.keras.layers.Dense(6, activation='relu'))

### Adding the second hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(6, activation='relu'))

### Adding output layer

In [14]:
ann.add(tf.keras.layers.Dense(1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [15]:
# Create an optimizer to calulate the loss/cost function
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics=['accuracy'])

### Training the ANN on the Training Set

In [16]:
ann.fit(x=X_train, y=y_train, epochs=100, batch_size=32)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.6045 - accuracy: 0.7194
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4942 - accuracy: 0.7911
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4743 - accuracy: 0.7878
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4420 - accuracy: 0.8070
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4268 - accuracy: 0.8222
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4184 - accuracy: 0.8219
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4039 - accuracy: 0.8342
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4122 - accuracy: 0.8297
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4023 - accuracy: 0.8362
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3935 - accuracy: 0.8341
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3768 - accuracy: 0.8462
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3609 - accuracy: 0.8559
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3608 - accuracy: 0.8577
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3603 - accuracy: 0.8525
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3656 - accuracy: 0.8524
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3620 - accuracy: 0.8518
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3599 - accuracy: 0.8508
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3574 - accuracy: 0.8563
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3472 - accuracy: 0.8596
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3530 - accuracy: 0.8550
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3579 - accuracy: 0.8520
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8617
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3510 - accuracy: 0.8557
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8615
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3446 - accuracy: 0.8583
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8591
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8570
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8576
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8608
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8692
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8687
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8615
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8611
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8666
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8620
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8644
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8625
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8619
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8646
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8586
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8643
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3476 - accuracy: 0.8553
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8668
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3261 - accuracy: 0.8680
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8574
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8656
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8690
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3504 - accuracy: 0.8558
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8619
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3463 - accuracy: 0.8605
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8617
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8594
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8660
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3282 - accuracy: 0.8697
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8668
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3273 - accuracy: 0.8677
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8589
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8641
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8637
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8652
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8626
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8699
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8622
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8640
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8667
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8608
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8658
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8623
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8624
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3267 - accuracy: 0.8663
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8633
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3269 - accuracy: 0.8659
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8665
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8637
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8625
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8654
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8630
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3448 - accuracy: 0.8585
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8591
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8652
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3472 - accuracy: 0.8584
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3280 - accuracy: 0.8637
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8606
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8665
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8634
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8556
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8616
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8600
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3240 - accuracy: 0.8667
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3212 - accuracy: 0.8721
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8649
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8546
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8635
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8664
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3217 - accuracy: 0.8663
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8596
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3249 - accuracy: 0.8662
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8657
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8601
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8624

## Part 4 - Marking the predictions and evaluating the model

### Predicting the result of a single observation

In [33]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))

[[0.02760303]]

### Predicting the Test set results

In [36]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the confusion matrix

In [37]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1511   84]
 [ 194  211]]

0.861